@import '~antd/dist/antd.css';


.formWrapper{
    padding: 15px !important;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.formContainer {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

.formContainer > input {
    min-width: 100%;
    margin-bottom: 10px;
}
.formContainer>.antInput{
    min-width: 100%;
    margin-bottom: 10px !important;
}

.formContainer > button {
    min-width: 100%;
}

.inputClass {
    margin-bottom: 10px !important;
}
div.error{
    color: indianred !important;
    font-size: 14px !important;
    position: relative;
    top: -5px;
}